@media screen and (max-width:769px) {
    body {
        overflow-x: hidden;
    }

    .header_sp {
        height: 50px;

        .bi-list::before {
            font-size: 40px !important;
        }
    }

    // 新規事業創出をもっと早く、確実に
    #new_business {
        max-width: 100vw;

        .intro {

            &::before,
            &::after {
                display: none
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            width: 96vw;

            .business_ng,
            .business_ok {
                display: inline-block;
                /* コンテンツが見切れて見えるようにする */
                overflow-x: auto;

                /* 横スクロールの指定 */
                h3 {
                    width: 640px;
                }

                .block {
                    width: 640px;

                    .businessimg {
                        width: 600px;

                        img {
                            width: 600 !important;
                        }
                    }

                    .detail {
                        width: 600px;
                    }
                }

            }
        }
    }

    // 新規事業にまつわる課題
    #problem {
        margin-top: 25px;

        .ttl_img {
            transform: translateY(21px);
        }

        h2 {
            width: 100%;
        }
    }

    #solution {
        padding-bottom: 0;
        margin-top: 32px;
        background: url("../images/solution_background_sp.png") center -60px repeat-Y;
        background-size: 150%;

        .ttl_img {
            transform: translateY(21px);
        }
    }

    #build {
        padding-top: 100px;
    }

    //柔軟なリソースを提供

    #supply {
        padding-bottom: 150px;
        margin-top: 64px;
        background: url("../images/supply_background_sp.png") center 110px repeat-Y;
        background-size: 150%;
    }


    //料金体系
    #plan {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    // よくあるご質問
    #qa {
        padding-top: 60px;
        margin-top: 0;
        margin-bottom: 0;

        .accordion-item {
            border-radius: 20px;
        }

        .content {
            width: 96%;
        }
    }

    // お問合せ
    #contact {
        padding-top: 80px;
        padding-bottom: 70px;
        background: url("../images/contact_background_sp.png") center top repeat-y;
        background-size: 135%;

        .content_box {
            border-radius: 20px;

            form {
                width: 70%;
            }
        }

        .privacyPolicyBox {
            height: 300px;
        }
    }
}
